<!-- Section de filtrage & Upload de photos -->

<div id="padding">
    <app-upload-images></app-upload-images>
    <input class=" form-control" type="text" [(ngModel)]="searchText" placeholder="Search your photos by comment">
</div>


<!-- Tableau de photos -->
<!-- <div class=" d-flex justify-content-center" id="header">
    <table class="table table-bordered table-dark" *ngIf="(imageData | filter: searchText).length > 0;">
        <thead>
            
            <tr>
                <th class="col1">Photo</th>
                <th class="col2">Comment</th>
                <th class="col3">Actions</th>
            </tr>
        </thead>
    </table>
</div> -->

<div class="d-flex justify-content-center overflow">
    <table class="table table-bordered table-dark" *ngIf="(imageData | filter: searchText).length > 0; else noResults">
        <thead>
            <!--Ligne Header-->
            <tr>
                <th class="col1">Photo</th>
                <th class="col2">Comment</th>
                <th class="col3">Actions</th>
            </tr>
        </thead>
        <tbody>
            <!--Lignes Body (forloop sur le tableau d'images)-->
            <tr *ngFor="let img of imageData | filter: searchText; let i = index;">
                <!--Appel de la pipeline filtre-->
                <td class="align-middle col1">
                    <img [src]="img.url" />
                </td>
                <td class="align-middle col2" id="comment">
                    <!-- <div class="textoverflow"> -->
                    <!-- <figcaption>Image name: {{img.name}}</figcaption>
                    <hr> -->
                    <h2>{{img.comment}}</h2>
                    <!-- </div> -->
                </td>
                <td class="align-middle col3">
                    <div class=" container">
                        <div class="row my-5">
                            <button type="button" class="btn btn-warning" (click)="openUI(img.id)">Modify</button>
                        </div>
                        <div class="row my-5">
                            <button type="button" class="btn btn-danger" (click)="deletePhoto(i)">Delete</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- </mat-nav-list> -->

<!--Template pour l'affichage d'aucun résultat-->
<ng-template #noResults>
    <h3>No results found for "{{searchText}}".</h3>
</ng-template>

<!--Overlay de modification de commentaire-->
<div class="overlay" *ngIf="popupUpdate" onLoad="this.focus()">
    <div class="popup">
        <h2>Update Comment</h2>
        <p>Image Preview :</p>

        <img [src]="myTempurl" class="previewImg" />

        <hr>
        <p>Input your new comment</p>
        <input type="text" class="w-100" [(ngModel)]="myTempComment">
        <hr>
        <div class="d-flex justify-content-between">
            <button class="btn btn-success" (click)="updateComment(myTempComment)"
                (click)="popupUpdate = false">Confirm</button>
            <button class="btn btn-danger" (click)="popupUpdate = false">Cancel</button>
        </div>
    </div>
</div>