<!-- Section de filtrage & Upload de photos -->
<div class="d-flex justify-content-between my-4" id="padding">
    <input class=" form-control" type="text" [(ngModel)]="searchText" placeholder="Search">
    <button class="btn btn-success" type="button" (click)="createPhoto()">Upload new photos</button>
</div>


<!-- Tableau de photos -->
<div class=" d-flex justify-content-center" id="header">
    <table class="table table-bordered table-dark" *ngIf="(imageData | filter: searchText).length > 0;">
        <thead>
            <!--Ligne Header-->
            <tr>
                <th>Photo</th>
                <th>Comment</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>
<mat-nav-list>
    <div class="d-flex justify-content-center">
        <table class="table table-bordered table-dark"
            *ngIf="(imageData | filter: searchText).length > 0; else noResults">
            <tbody>
                <!--Lignes Body (forloop sur le tableau d'images)-->
                <tr *ngFor="let img of imageData | filter: searchText; let i = index;">
                    <!--Appel de la pipeline filtre-->
                    <td>
                        <figure>
                            <img [src]="img.srcUrl" />
                            <figcaption>{{img.srcUrl}}</figcaption>
                        </figure>
                    </td>
                    <td class="align-middle" id="comment">{{img.comment}}</td>
                    <td class="align-middle">
                        <div class="container">
                            <div class="row my-5">
                                <button type="button" class="btn btn-warning" (click)="updateIndex(i)">Modify</button>
                            </div>
                            <div class="row my-5">
                                <button type="button" class="btn btn-danger" (click)="deletePhoto(i)">Delete</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</mat-nav-list>

<!--Template pour l'affichage d'aucun résultat-->
<ng-template #noResults>
    <h3>No results found for "{{searchText}}".</h3>
</ng-template>

<!--Overlay de modification de commentaire-->
<div class="overlay" *ngIf="popupUpdate" onLoad="this.focus()">
    <div class="popup">
        <h2>Update Comment</h2>
        <p>Image Preview :</p>
        <div class="d-flex justify-content-center">
            <img [src]="imageData[myTempIndex].srcUrl" />
        </div>
        <hr>
        <p>Input your new comment</p>
        <input type="text" class="w-100" [(ngModel)]="myTempComment">
        <hr>
        <div class="d-flex justify-content-between">
            <button class="btn btn-success" (click)="updatePhoto(myTempComment)"
                (click)="popupUpdate = false">Confirm</button>
            <button class="btn btn-danger" (click)="popupUpdate = false">Cancel</button>
        </div>
    </div>
</div>