<!--Page d'accueil-->
<div class="d-flex justify-content-center">
    <div class="col-xl-8 col-md-10">
        <!--Welcome Component-->
        <div class="d-flex justify-content-center">
            <div class="col-xl-11 col-md-10">
                <div class="card user-card-full">
                    <div class="text-center">
                        <h1 class="d-flex justify-content-center">Architecture n-tiers - Web Application</h1>
                    </div>
                    <hr>
                    <h3 class="d-flex justify-content-center">Authors</h3>
                    <div class="d-flex justify-content-around">
                        <p>BIRON Gregoire</p>
                        <p>GAGNAIRE Thomas</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Log Component-->
        <div>
            <div class="container">
                <div class="login_form">
                    <div *ngIf="!logged">
                        <h3>Log-in to your account</h3>
                        <br>
                        <input class="logipage__text" name="username" type="text" placeholder="Username"
                            [(ngModel)]="name" />
                        <br>
                        <input class="logipage__text" name="password" type="password" placeholder="Password" />
                        <br><br>
                        <button class="btn btn-danger" (click)="login()" [disabled]="name==''||name==null">Log
                            In</button>
                    </div>
                    <div *ngIf="logged">
                        <h2>Logged as {{name}}</h2>
                        <button class="btn btn-danger" (click)="login()">Sign off</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>