<div class="d-flex justify-content-center">
    <div class="col-xl-6 col-md-10">
        <div class="card user-card-full">
            <div class="card-block text-center text-white">
                <img src="../../assets/welcome.png" class="img-radius" alt="User-Profile-Image">
            </div>
        </div>
        <h1 class="d-flex justify-content-center">Architecture n-tiers - Web Application</h1>

        <div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="login_img">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="login_form">
                            <input class="logipage__text" type="text" placeholder="Enter your username" />
                            <input class="logipage__text" type="password" placeholder="Password" />
                            <button class="login__button" onclick="location.href='/photos'">Log In</button>
                        </div>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-4">
                        <div class="login_form">
                            <input class="logipage__text" type="text" placeholder="Username" />
                            <input class="logipage__text" type="password" placeholder="Password" />
                            <button class="login__button" onclick="location.href='/photos'">Sign up</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="login_img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        <h3 class="b-b-default d-flex justify-content-center">Authors</h3>
        <div class="row">
            <div class="d-flex justify-content-around">
                <p>GAGNAIRE Thomas</p>
                <p>BIRON Grégoire</p>
            </div>
        </div>
    </div>
</div>